/* I know this was maybe not required, but I can't stand when there is literally
no styles at all, it's so little css needed to make it look a bit better,
if you just showing how things work it just takes extxtra time but I
felt I had time to add some CSS */


@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    line-height: 1.58;
    letter-spacing: -.003em;
    font-size: 20px;
    padding: 20px;
}

h1,
h2,
h3 {
    font-weight: 700;
    font-style: normal;
    font-size: 38px;
    line-height: 1.15;
    letter-spacing: -.02em;
    color: rgba(20, 100, 200, 0.8);
    -webkit-font-smoothing: antialiased;
}

li,
a {
    list-style: none;
    text-decoration-line: none;
}

.lnk-button {
    font-size: 25px;
    max-width: fit-content;
    padding: 4px;
    border: 1px solid red;
    box-shadow: 2px 1px 1px red;
    border-radius: 4px;
    margin-top: 50px;
    margin-left: -8px;
}

.btn {
    margin-top: 10px;
    padding: 8px;
    font-size: 16px;
    filter: drop-shadow(4px 2px 2px #4444dd);
}

input {
    height: 20px;
    filter: drop-shadow(4px 2px 2px #4444dd);
}

select {
    padding: 5px;
    font-size: 16px;
    margin-top: 10px;
    filter: drop-shadow(4px 2px 2px #4444dd);
}

.social__icon--link {
    color: rgb(0, 98, 255);
    font-size: 34px;
}

#git {
    color: black;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
    margin: 5px;
}

.svicons {
    display: inline-block;
    margin: 5px;
}

.icons {
    padding-left: 25px;
}